[2019-03-08 13:42] zunjae opened #2 "How am I supposed to integrate this project?"
Where can I download it from? Where is it hosted?

The readme only contains an identifier and version number (`implementation 'com.github.st235:expandablebottombar:0.4'`) but where is this downloaded from?

Could you add some instructions?

[2019-03-08 13:55] zunjae commented on #2
Nevermind, I'm using https://github.com/gauravk95/bubble-navigation now. This project is hosted on JCenter

[2019-03-08 13:55] #2 closed

[2019-03-08 14:02] st235 commented on #2
I am so sorry for late delay,
it's published in jcenter too. There were some problems with jcenter integrations, but now it's fixed and lib will be available from jcenter by the end of the day!
Hopefully, it will help you.

[2019-04-19 06:16] yasandev opened #4 "Cannot resolve method addItems(?)"
I just started a fresh project and wanted to add this library to my app, but i cant add items to the bottom bar and the method doesnt work. It is a java project but as far as I know it shouldnt matter.

![d](https://user-images.githubusercontent.com/41836211/56409810-ea2a5900-628f-11e9-8b29-937ee98b806b.PNG)

How can I fix this? I dont think I did anything wrong since there is not much that I can

[2019-04-19 07:46] st235 commented on #4
Hi, thanks for using library, I will investigate your problem in a few hours.

[2019-04-19 10:12] st235 commented on #4
there was the problem with proguard rule. so, I have fixed it and you`ll need to update your library to 0.6 ;D
thanks for reporting.

[2019-04-19 10:12] #4 closed

[2019-04-22 08:32] yasandev commented on #4
Thanks for fixing it. I will try again!

[2019-04-24 09:56] ronaksuchak opened #13 "Manifest merger failed with multiple errors, see logs"
Manifest merger failed with multiple errors, see logs

app.gradle
apply plugin: 'com.android.application'

apply plugin: 'kotlin-android'

apply plugin: 'kotlin-android-extensions'

android {
    compileSdkVersion 28
    defaultConfig {
        applicationId "com.psycho.expandablemenudemo"
        minSdkVersion 19
        targetSdkVersion 28
        versionCode 1
        versionName "1.0"

[2019-04-24 10:11] st235 commented on #13
@ronaksuchak, hello,
yeah, you should update your support components to `android-x`

[2019-04-24 10:14] ronaksuchak commented on #13
android:appComponentFactory="android.support.v4.app.CoreComponentFactory" in application tag
and used androidx as suggested

[2019-04-24 10:15] #13 closed

[2019-05-16 13:24] pythongiant opened #16 "Increase Font Size"
How Can You Increase font size?

[2019-05-16 13:38] st235 commented on #16
Hi, for now its locked and has fixed size of `15 sp`
As far as I know, `BottomNavigationView` does not support officially font size change.
In my opinion, its really not necessary.

But if u still want to do that, there is an item builder which takes [`CharSequence`](https://github.com/st235/ExpandableBottomBar/blob/master/lib_expandablebottombar/src/main/java/github/com/st235/lib_expandablebottom

[2019-05-19 08:14] ZxyTx opened #17 "Can you make this library of JAVA language？"
This library is really beautiful. I like it very much. Can you make a Java language of this library?

[2019-05-19 08:17] st235 commented on #17
Hi! Thanks for your interest in this library.
What do u mean `Java language of this library`?
Java is already supported, you can find Java usage example [here](https://github.com/st235/ExpandableBottomBar/blob/master/app/src/main/java/github/com/st235/expandablebottombar/JavaActivity.java).

[2019-05-19 08:17] st235 commented on #16
@pythongiant, is this problem still actual?

[2019-05-19 08:22] ZxyTx commented on #17
@st235 Okay, I found it. Thank you.

[2019-05-19 08:22] st235 commented on #17
@ZxyTx, no problem!

[2019-05-19 08:22] #17 closed

[2019-05-20 08:36] #16 closed

[2019-09-06 10:29] sachinrmcom opened #25 "Runtime updation of MenuItem Values ?"
Runtime updation of MenuItem Values ?

or invalidation of bottomBar

[2019-09-06 12:35] st235 commented on #25
Hi ✋
You always able to call setItems with new list of values.
Unfortunately, it has not been planned yet to support such a functionality.

Can you provide detailed description why you need this feature, please?

[2019-09-06 12:44] myJarvis commented on #25
hi , ok got it , but i added few functionalities , will make a PR soon :)

[2019-09-06 12:45] st235 commented on #25
ok, will wait!
thanks

[2019-09-08 15:46] #25 closed

[2020-01-24 06:31] rajam1215 opened #28 "How to use onItem click listener in java"
Hello @st235

Please describe some code peace, how to use setOnItemSelected listener in java class, and describe add multiple fragments. it is very useful library

Thanks

[2020-01-24 19:43] st235 commented on #28
Hi @rajam1215, first of all thanks for reaching me out!
I am really sorry I cannot answer your earlier 😢

Yeah, you're absolutely right, there are no examples how to use callbacks in Java, but I've already fixed it.

To properly handle callbacks in Java you should create anonymous instance of `Function2<View, ExpandableBottomBarMenuItem, Unit>` class and override `invoke` method. As Java do know n

[2020-01-27 13:11] #28 closed

[2020-01-28 04:45] rajam1215 commented on #28
Hello @st235
Thanks for the solution.

[2020-04-15 10:19] Jaden2208 opened #31 "How can I remove menuitems title?"
First of all thank you for make this library :)

Is this the only way to remove menuitems title?
[code]
It has some padding on title space when I select it. but I don't want it.
are there any other way to remove it?

[2020-04-15 16:51] st235 commented on #31
@Jaden2208 Hi 👋

I really appreciate you've chosen my library over a bunch of libraries at Github 😺  Yeah, unfortunatelly, its the only way to remove title for now, but the good news is I am on it and will add this feature in a close future.

Moreover, I am always welcome for new contributors, so, do not hesitate to create pull requests, if you already have something or in future.

Stay tuned!

[2020-05-08 13:18] st235 commented on #31
Hi @Jaden2208 👋

I've investigated the ability to provide requested feature and faced with animation issues. Icons without text looks really ugly and there are nothing to animate inside of it.

Could you, please, share your experience, how are you going to use this feature? Do you use bottom bar without any text, or you're following the mixed style: some items does have text title, but some of the

[2020-05-21 06:38] crowrish opened #32 "The tint is fixed when reusing the icon used in "ExpandableBootomBar"."
Here is my `menu/bottom.xml`
[code]

and here is my `activity_main.xml`

[code]

If I try to use the `@drawable/round_home_black_24` drawable icon in another view, the tint of the drawable is also applied to `#ccc` in the other view.

here is image.
![KakaoTalk_20200521_153513872](https://user-images.githubusercontent.com/60930468/82530726-e8108900-9b78-11ea-8598-45dac480a4d2.jpg)

The original co

[2020-05-22 07:18] st235 commented on #32
Hi 👋
Yeah, it looks like a bug. I will take a look the problem deeper soon, but now I can only suggest you to use different resources for menu items and bottom bar as a temporary solution.

I will keep you updated about the progress

[2020-05-22 16:21] #32 closed

[2020-05-22 16:26] st235 commented on #32
@crowrish, the behaviour was fixed, please, update your version to 1.1.1

[2020-06-03 06:47] crowrish commented on #32
I applied version `1.1.5` migration, and this update works fine.
Thank you for your help. 👍

[2020-06-04 06:27] rajam1215 opened #40 "MVVM Support (Navigation component)"
Hello @st235

Please add MVVM support

navController = Navigation.findNavController(this, R.id.nav_host_fragment);

So user can use this library with navigation component also. so user can  handle only one activity and all fragment.

Thanks

[2020-06-05 20:56] st235 commented on #40
@rajam1215 Hi 👋

Firstly I would like to say thank you for using this library. Yeah, I will take a look at what I can do here.

Stay tuned

[2020-06-05 20:57] st235 commented on #31
@Jaden2208 Hi once again

Do I have a chance you take a look at this thread? If it's possible to provide additional info, I would be very happy

[2020-06-06 09:29] st235 commented on #40
@rajam1215 Hello 👋

Thanks for your feature proposal. Looks like this feature may be really useful for community.
Unfortunately, I cannot deliver the support of Navigation Components directly to `NavigationUI` class as it doesn't use interfaces but does use real implementations of `NavgationDrawer`, `Toolbar` or `BottomNavigationView`. Indeed it was not the best solution from developers side, but

[2020-06-06 09:29] #40 closed

[2020-06-06 09:31] st235 commented on #40
`1.1.7` is live now

[2020-06-06 13:01] rajam1215 commented on #40
@st235 hello
ok i'll implement this in real project. then i'll come to you, it is work perfect or not.

[2020-06-06 13:57] rajam1215 commented on #40
@st235  Hello

I see in project it is working fine now, but i don't know, how its behavior with other functionality.

and **one more feature it need may be**, for example, if user click on fragment view object like button, then next fragment open with navigation component, that time if user want to hide bottom navigation, then how they will achieve this thing, because bottom navigation is fix at b

[2020-06-06 14:39] st235 commented on #40
@rajam1215 Thanks for your feedback.

I very appreciate it. I suppose you're talking about hiding according to some "dive deep"-like navigations. You are always welcomed to open Pull Request here if you're thinking some behaviour is missing here, but I reckon its not a common case.

In your case, I would recommend listening destination changed events with `addOnDestinationChangedListener`, and hid

[2020-06-07 11:56] #31 closed

[2020-06-11 07:34] rajam1215 commented on #40
Hello @st235

**ExpandableBottomBarNavigationUI** this class not come in 1.1.7 version. please check once.

Thanks

[2020-06-11 07:47] st235 commented on #40
Yeah, of course, will recheck asap.

[2020-06-11 16:24] st235 commented on #40
@rajam1215 thanks for the report!

There was a problem at `1.1.7` version, now its fixed! Latest changes included at `1.1.8`.

[2020-06-12 07:40] rajam1215 commented on #40
Hello @st235

Thanks for the correction. i am working with **addOnDestinationChangedListener** with navigation components and its work good, but need to change toolbar title as well with deep navigation fragments. any suggestions.

Thanks

[2020-06-12 08:04] st235 commented on #40
Hi @rajam1215,

Thanks for feedback. If you listen **addOnDestinationChangedListener** why you can’t change toolbar title from this callback?

[2020-06-12 09:13] rajam1215 commented on #40
NO @st235

I am talking about if you go one fragment to other, and need to set title on toolbar with own fragment data. means you have to set **xyz** fragment data on toolbar it is entirely diff from **onDestinationChangeListener**

not to set title **onDestinationChangeListener**

[2020-06-12 14:54] st235 commented on #40
It's still not clear for me what problem you're trying to solve.
Anyway, how did you solve it with `NavigationUI`, maybe if you will provide some code examples for this case for `NavigationUI` perspective, I will figure out how to help you.

[2020-06-13 06:23] rajam1215 commented on #40
for example
@Override
    public void onDestinationChanged(@NonNull NavController controller,
                                     @NonNull NavDestination destination,
                                     @Nullable Bundle arguments) {
        int id = destination.getId();
        if (id == R.id.nav_products || id == R.id.nav_detail)
            bottomNavigation.setVisibility(View.GONE);
        el

[2020-06-13 10:20] st235 commented on #40
Hi @rajam1215

Thanks for the provided code. If I understood u correctly, this problem is out of the of `ExpandableBottomBar` and completely rely on your architecture approach.

As I suppose, there are a lot of possible different solutions. For example, if you always need to set title from the fragments, you may set title from each fragment separately, ie inside of your fragment `(activity as? App

[2020-06-13 11:15] rajam1215 commented on #40
Hello @st235

Thanks for the reply and suggestion, yes it is give me help,  please approach me if you are stuck in any issue i'll there.

Thanks

[2020-06-13 11:17] st235 commented on #40
@rajam1215 cool, thank you!

PS: You're always welcomed here!

[2020-07-07 05:25] rajam1215 opened #44 "avoid recreation of fragment"
hello @st235

sins the MVVM support it is awesome, but we need one more enhancement in the library, so Fragment not create every time when any bottom menu item clicked with MVVM

Thanks

[2020-07-10 14:37] st235 commented on #44
Hi @rajam1215,

sorry for a bit late replay. Did you check the default BottomBarNavigation view? Does it behave in an expected way? Also, did I understand you correctly - double-clicking on the same item causes Fragment recreation? If you don't mind, it would be really cool, if you can record a small video, which reflects wrong behaviour.

Looking forward to hearing from you

[2020-07-11 10:29] rajam1215 commented on #44
Hello @st235

I ma very glade to see you again, i know the default behavior navigation bottom, but this is not use only for show activity or fragment, but in this library we move forward already, it have MVVM support, but default doesn't, we need to avoid the recreation of fragment, now please check what is happen right now.

double-clicking on the same item causes Fragment recreation,
no it's not

[2020-07-15 05:33] rajam1215 commented on #44
Hello @st235

Please reply, it is bit late. i am waiting, Looking forward to hearing from you

Thanks

[2020-07-15 18:01] st235 commented on #44
Hi @rajam1215,
sorry, it was a really crazy week. I'll be able to take a look at the problem only at the end of this week.

PS: However, it's always welcomed any kind of contribution here. So, if you have any ideas on how to solve this problem, do not hesitate, please, to create a pull request.

Kind regards,
Alexander Dadukin

[2020-07-16 04:52] rajam1215 commented on #44
Hello @st235

not an issue, please see on the issue end of the week, but i have one solution for that.

`public class MainActivity extends AppCompatActivity {

final Fragment fragment1 = new HomeFragment();
final Fragment fragment2 = new DashboardFragment();
final Fragment fragment3 = new NotificationsFragment();
final FragmentManager fm = getSupportFragmentManager();
Fragment active = fragment1;

[2020-07-19 19:46] st235 commented on #44
@rajam1215, hi 👋

Hopefully, you are well. I take a look at the problem. I tried to reproduce similar behaviour with default android components, so I've changed `ExpandableBottomBar` to

[code]

and also used NavigationUI is an alternative for native android view.

[code]

Unfortunately, the behaviour you mentioned below is not followed by material design components. As it's not a native behaviour

[2020-07-19 19:48] #44 closed

[2020-07-20 06:50] rajam1215 commented on #44
@st235 hello

I understand what you want to say, it is not necessary to add on this library,  but in my suggestion this feature you can see in maximum apps, **_you can check from your side also, those who use bottom navigation in the app_**. **coz some time user don't want to recreate the fragment again and again**, **_user always want to use it from where he/she left_**, i hope you can understand

[2020-07-20 07:02] st235 commented on #44
Good morning, @rajam1215 👋

Thank you for provided information, I really appreciate it. However, as I wrote below - it's not a default behavior for alternative native android widget. Moreover, it looks like as an application layer responsibility to cache fragments. I can recommend you to look at fragmentFactory - probably, it will cover you case.

Best wishes,
Alex

[2020-07-20 07:23] rajam1215 commented on #44
@st235 same2u

very thanks from suggestion i will defiantly R&D on that (Fragment factory), but i can handle this with giving example of **_(MainActivity)_** in the previous comment, it is very good technique to handle this thing, but coder need to handle this code without progress dialog, **_coz progress dialog overlap the fragment screens_**.

means if you use progress dialog in second screen, i

[2020-08-19 07:39] jedi2610 opened #45 "Is there a way to use this in a java project?"

[2020-08-19 12:56] st235 commented on #45
Hi 👋

Of course we do have 😃 Take a look at sample app or JavaActivity class.

[2020-08-19 14:36] jedi2610 commented on #45
sorry i just didn't have a good look. but can i dynamically set the backgroundcolor of the bottom bar using java code instead of xml? and also the colors for inactive items. thanks in advance

[2020-08-19 16:14] st235 commented on #45
hi once again 👋

don't worry - it's ok to ask questions if something's unclear. Yeah, it's possible to set up the listeners from Java code, but unfortunately, you cannot change the background colour from the code side.  I think these viable properties should be reflected in a propper get/set methods, so I will update api asap and will ping you one more time when update would be live.

[2020-08-19 17:13] jedi2610 commented on #45
That's great thanks! i figured out that using viewpager should do the work (please ignore my noob questions *i am a noob*, just been a month since starting android dev so please don't judge :-) ) of swiping and while trying to implement it i'm not able to do so. i'm not able to setup the navController using the code below `ExpandableBottomBarNavigationUI.setupWithNavController(bottomNavigation, na

[2020-08-19 18:10] st235 commented on #45
Yeah, of course, I can help you 🙂
I need the crash stack trace and the example of your code.

[2020-08-20 04:34] jedi2610 commented on #45
no it gives an error while compiling that it cannot find `ExpandableBottomBarNavigationUI`.

[2020-08-20 08:52] st235 commented on #45
I will check it asap too. One more question: what's the version number of the library? The latest one?

[2020-08-20 09:15] jedi2610 commented on #45
yes the latest one 1.1.0. thanks

[2020-08-20 09:24] st235 commented on #45
The latest one is `1.1.8`

[2020-08-20 13:35] jedi2610 commented on #45
sorry i'm just dumb as always. after updating to 1.1.8 it works fine now. thanks

[2020-08-20 13:41] st235 commented on #45
Cool, I am glad it works now! You're not dumb, it's just inattentiveness, which can happen to everybody. So, I will ping you when will implement a public set/get methods for background colour.

Stay tuned 🙂

[2020-08-20 18:19] jedi2610 commented on #45
thats great thanks.

[2020-08-21 08:45] jedi2610 commented on #45
hey it's me again will you be able to implement a method which will support setting up the bottom bar with a view pager?
like `TabLayout.setupWithViewPager(viewpager)`

[2020-08-23 20:21] st235 commented on #45
Can you please record a small video with the issue?

[2020-08-24 04:23] jedi2610 commented on #45
![screencapture1](https://user-images.githubusercontent.com/30691152/91003704-a5cf6b80-e5ef-11ea-89af-ce3424019ab4.gif)
here you go!

[2020-08-24 04:37] st235 commented on #45
Thank you! Yeah, it's definitely a bug. If you don't mind, let's create another one issue and fix it in another thread.

[2020-08-24 08:22] jedi2610 commented on #45
cool alright

[2020-08-24 08:23] jedi2610 opened #51 "bottom bar has a peek height"
![screencapture_00002](https://user-images.githubusercontent.com/30691152/91021299-38cccd80-e611-11ea-8484-422d6cbba6e3.gif)

[2020-08-24 19:13] st235 commented on #51
Will be fixed at `1.2.3`

[2020-08-24 19:19] #51 closed

[2020-08-24 19:21] st235 commented on #51
`1.2.3` is live now

[2020-08-25 10:30] st235 commented on #51
@jedi2610 Can you please confirm that problem really solved?

[2020-08-25 15:47] jedi2610 commented on #51
alr cool thanks. okay i'll check if it really works

[2020-08-25 15:56] st235 commented on #51
Yeah, cool!

This commit contains all the changes: https://github.com/st235/ExpandableBottomBar/commit/427b87cbb158a9aeffa349d6d82edd8c0fb7ff5f

But the main problem was `getMaxScrollDistance` method. It didn't take into account the margin of the view

[2020-09-02 08:49] alaa-abuzarifa commented on #16
How can I add multiple items using this approach? It gives me an error when I add multiple `.addItem(...)` ??

[2020-09-03 05:31] st235 commented on #16
@alaa-abuzarifa hi 👋,

what's the error appears?

[2020-09-03 05:37] st235 commented on #16
The code should be like:

[code]

[2020-09-06 18:14] jedi2610 commented on #51
hey me again, this is not exactly an issue nut i need some help. i actually have three fragments setup with the bottom bar and the bottom bar itself in my main activity which has a coordinator layout. and the home fragment has a recycler view. but when i scroll the recycler view the bottom bar is not scrolling along with it. the `layout_behaviour` for the bottom bar is set to `github.com.st235.lib

[2020-09-07 04:08] st235 commented on #51
Hi @jedi2610,

can you record a video, please?

Best wishes,
Alexander Dadukin

[2020-09-07 05:49] jedi2610 commented on #51
![anroid](https://user-images.githubusercontent.com/30691152/92352491-d1784880-f0fb-11ea-9162-3df1df221f34.gif)

HomeFragment file: https://termbin.com/30og
Acitvity main file: https://termbin.com/1ijnr

[2020-09-07 14:26] st235 commented on #51
I will take a look asap

[2020-09-07 15:56] jedi2610 commented on #51
alr @st235

[2020-09-08 06:34] st235 commented on #51
@jedi2610 hi 👋

unfortunately, it's not an issue. Your layout is too complex: nested coordinator layout consumes all the events, so, that's why top-level coordinator layout cannot detect scroll and proceed it to the behaviour.

I will investigate this further, but there is no solution at the time, except reduce the complexity of the layout. I am really sorry, that I dont have any better news for y

[2020-09-08 07:38] jedi2610 commented on #51
so what you're saying is that since i have 2 coordinator layouts (one in main activity and an other one in the home fragment),
the scroll events are not passed to the top-level coordinator layout(main activity) and instead they are being passed to the local coordinator layout (home fragment), right? so maybe if i remove the coordinator layout in my home fragment it would work?

[2020-09-08 08:00] st235 commented on #51
Yeah, if you remove your coordinator from home fragment it should work

[2020-09-08 08:04] jedi2610 commented on #51
![untitled](https://user-images.githubusercontent.com/30691152/92449613-f17d3a00-f1d7-11ea-8949-c0a7abd54681.gif)

now it works but it's just sooo broke :laughing:

[2020-09-08 11:19] jedi2610 commented on #51
i'm actually trying to pass scroll events to the parent coordinator layout but still it doesn't work. have any idea to implement this?
[code]

`mRecyclerView` and `coordinatorLayout` are custom class where i override only the `performClick` method. (it throws an error if i don't implement it)

[2020-09-08 12:14] st235 commented on #51
It’s not clear - why you need it?

[2020-09-08 16:24] st235 commented on #51
yeah, probably, it will not work)

[2020-09-08 17:02] jedi2610 commented on #51
@st235 yeah it's not working. i searched the internet an entire day but still no luck, couldn't find any answers. although it's clear that the local `CoordinatorLayout` is receiving all events, i don't know how to pass it on to the parent `CoordinatorLayout`.
do you  know how to pass those events?  can you please help me out on this one?

[2020-09-08 17:19] st235 commented on #51
The problem requires a lot of investigation here.
So, not all the events are consumed by the coordinator layout, but only that events, which can be classified as a nested scroll. When coordinator layout finds a scroll pattern it will consume the events. Unfortunately, in your example nested scroll consumed by the inner coordinator as long as you have `AppBarLayout` - if you remove `AppBarLayout` n

[2020-09-08 17:21] st235 commented on #51
Maybe a better solution, for now, will be:
- Listen to the scroll inside of a fragment
- Hide bottom bar from fragment, for example

[2020-09-08 18:01] jedi2610 commented on #51
alr cool thanks. is there a method from the library side that i could invoke to hide the bottom bar?

[2020-09-09 06:43] st235 commented on #51
Yeah, as I said before - you are welcomed here, so, no need to apologize if you don't understand something.

Yeah, I don't have such methods (ie show/hide) in a view yet, but I have plans to release it soon.

[2020-09-09 08:08] jedi2610 commented on #51
that's great to hear. looking out for the new version then. thanks

[2020-09-11 18:44] st235 commented on #51
@jedi2610 hi 👋,

`1.2.4` is in live now. Currently, there were implemented `hide` and `show` methods.

[2020-09-11 19:12] jedi2610 commented on #51
hey alr thanks. i have a question tho. does the library try to instantiate the fragments anywhere?

[2020-09-11 19:37] st235 commented on #51
Cool, I am glad that you problem is resolved 😃

[2020-09-16 05:23] dino-sunny opened #56 "How add badge for menu items?"
How to add notification badge for menu items bottomNavigation.getOrCreateBadge(menuItemId)?

[2020-09-16 08:32] st235 commented on #56
Hi @dino-sunny,

Unfortunately, there is no such an option right now, but it's a really good highlight. I planned to add this feature in upcoming releases, so now I am pretty sure it should be useful.

Kind regards,
Alexander Dadukin

[2020-09-17 04:21] dino-sunny commented on #56
Great. Looking forward to it.

[2020-09-18 17:30] jedi2610 opened #57 "custom font support for text in bottom bar"
it would be nice to have custom font support for text in bottom nav bar

[2020-09-18 20:12] st235 commented on #57
Hi @jedi2610 👋

Dunno, I am not 100% confident in this. I need to check `BottomNavigationView` for this.

[2020-09-19 06:39] jedi2610 commented on #57
alr cool, i actually don't need that but thought it would be cool to have that feature

[2020-09-20 19:29] st235 commented on #56
@dino-sunny, hi 👋

huge PR with proposed changed is prepared. You can find it in linked pull requests. Probably, the changes will be live on a next week with a new major version `1.3.0`. Meanwhile, you can take a look at the new up.

I will post an update here when `1.3.0` will be released.

[2020-09-20 19:35] st235 commented on #57
Hi @jedi2610 👋

About custom fonts: it's already supported. To provide custom font you need:

1. Add custom font under `res/font` folder
2. Create a custom style with `fontFamily` property

[code]

3. Implement `android:theme` attribute at `ExpandableBottomBar`

[code]

The result should be like that:

![Screenshot_1600630321](https://user-images.githubusercontent.com/14966197/93720412-7d587400-fb

[2020-09-20 19:35] #57 closed

[2020-09-20 19:50] #56 closed

[2020-09-20 20:11] st235 commented on #56
@dino-sunny, hi again 👋

`1.3.0` is in live now 🎉

[2020-09-21 02:35] dino-sunny commented on #56
Hi,

Sounds great.

On Mon, Sep 21, 2020, 1:41 AM Alexander Dadukin <notifications@github.com>
wrote:

[2020-09-21 05:52] dino-sunny opened #59 "ExpandableBottomBarNavigationUI navigation not working when onItemSelectedListener added"
ExpandableBottomBarNavigationUI navigation not working when onItemSelectedListener added to disable notification when tab clicked

[2020-09-21 06:48] st235 commented on #59
Hi @dino-sunny 👋,

Thank you for provided info.

It's sounds like expected behavior. Can you, please, explain why you need listen item selection with navigation ui?

Kind regards,
Alexander Dadukin

[2020-09-21 06:59] dino-sunny commented on #59
I need to hide the notification dot when the user clicks on a specific menu item.

[2020-09-21 07:02] jedi2610 commented on #57
oh cool thanks

[2020-09-21 07:20] st235 commented on #59
Sounds fair
Yeah, will update the library then

[2020-09-21 14:16] st235 commented on #59
@dino-sunny,

by the way, looks like default `BottomNavigationView` view behaves in the same strange way

[2020-09-28 17:04] jedi2610 commented on #59
@st235 sorry to bother about something silly but how do you create pr's to your own repo. i know you could crate a pr if you have a branch but you don't seem to have any. how do you do it? thanks and sorry.

[2020-09-28 20:19] st235 commented on #59
@jedi2610, hi 👋

Thank you for reaching me out. However, this issue is not related to your problem and may confuse other participants in the conversation. I would recommend you to open another issue further. Moreover, there are a lot of different ways to contact me if you have some unspecified topic question. For example, you can drop me a letter via email.

Answering your question: as you can see

[2020-09-29 02:34] dino-sunny commented on #59
Sure, Thank you

On Tue, 29 Sep 2020 at 01:49, Alexander Dadukin <notifications@github.com>
wrote:

--
Thanks and Regards
Dino Sunny
ph:7293720790

[2020-09-29 04:26] jedi2610 commented on #59
@st235 okay thanks. and if there is anything else i'll reach you out via email.

[2020-10-01 20:16] st235 commented on #59
Hi @dino-sunny 👋

Thank you for your patience, I really appreciate it.
Yeah, my initial guess was right - when you're using `NavigationUI` you don't need to listen to `onItemSelected` event separately. All you need to do is subscribe to `destinationChangedListener` and implement the desired behaviour in it, for example like in:

[code]

Hopefully, it helps.

Best wishes,
Alexander Dadukin

[2020-10-01 20:16] #59 closed

[2020-10-03 20:32] st235 opened #62 "Hacktoberfest 2020"
The annual [Hacktoberfest](https://hacktoberfest.digitalocean.com) is around the corner! Register on Hacktoberfest's website and open 4 pull requests during October 2020 to receive the swags (if you're the first 70,000 participants)!

Recently, we do not have opened issues, but there is a lot of space for fixing bugs, implementing new features and small refactorings.

### Remarks

- Please observe

[2020-10-31 21:30] st235 commented on #62
Thank you, everyone, who participated in Hacktoberfest 2020. It's been a nice time!
However, Hacktoberfest is ended, we still need your support and there are plenty of unsolved problems at our project. You are welcomed here and do not hesitate to visit this project at any time!

[2020-10-31 21:30] #62 closed

[2021-01-21 17:08] Suret1 opened #65 "how can i use onItemSelectedListener?"
hi , i'm new in Kotlin. i use addItems but i don't know how use onItemSelectedListener. how can i connect my fragments? pls help

![2](https://user-images.githubusercontent.com/19667419/105386453-d6164700-5c2d-11eb-85a0-cd2ef541d591.jpg)

[2021-01-21 23:13] #65 closed

[2021-03-16 11:41] hexlay opened #66 "dynamic item control"
Hello,
It would be great if we could dinamically add/remove or hide item after bottom bar init...

P.S or list getter/setter to manipulate manually.

[2021-03-16 18:07] st235 commented on #66
Hi @hexlay 👋

Thank you for using this library!

Can you, please, tell me a little bit more about your proposal? Which functionality do you need, like, changing text or images? Also, can you describe the situation when this would be useful?

Best wishes,
Alex

[2021-03-25 05:45] hexlay commented on #66
Sorry for late reply....

For example:
1. Ability to disable and enable items to prevent clicking while loading...
2. Ability to hide or unhide (add or remove) certain element to use single navigation resource for different (alike) purposes

However right now there's little control over items. Yes, we can add items, but removing or editing is not possible and i can only select item by its position

[2021-03-28 21:41] st235 commented on #66
Hi @hexlay,

You can `show/hide` menuItem starting from `1.3.2`. You can find the migration guild [here](https://github.com/st235/ExpandableBottomBar/wiki/Migration).

It is not exactly true. As you can see in the definition of the [method](https://github.com/st235/ExpandableBottomBar/blob/master/lib-expandablebottombar/src/main/java/github/com/st235/lib_expandablebottombar/ExpandableBottomBar.kt#

[2021-03-28 21:41] #66 closed

[2021-06-16 08:30] prateekcode opened #71 "Default Item selection"
Hey, thanks for this amazing library.
Can you please let me know how I can select the position by default instead of its always-on first position?

[2021-06-18 09:16] st235 commented on #71
Hello 👋

Sorry for the delay. First of all, I would like to say thank you for using this library and raising important questions.
Unfortunately, there is no method for default selection, but I believe that you can use the usual [select](https://github.com/st235/ExpandableBottomBar/blob/master/lib-expandablebottombar/src/main/java/github/com/st235/lib_expandablebottombar/Menu.kt#L39) during screen

[2021-06-19 03:54] prateekcode commented on #71
Hey,
Actually, I have some cards in my Dashboard and I want to navigate to another fragment upon click. I can switch to fragment but your bottom navigation exits on the same place that's why I want to ask u.

I will try to make this possible in your library.

[2021-06-22 16:15] rasam29 opened #72 "setting Font or typeface to title's"
Thanks for the amazing library...
I wonder how to set my own type face to titles.

[2021-06-22 16:16] #72 closed

[2021-06-23 19:18] st235 commented on #72
Hi @rasam29 👋

Thank you very much for using this library! Sorry for a little bit late replay.
You can read this thread: https://github.com/st235/ExpandableBottomBar/issues/57
Hopefully, this will help

Best wishes,
Alex

[2021-08-03 08:29] liuxiaoliu66 opened #73 "There was a problem when importing version 1.4.0"
When using version 1.4.0, studio cannot find
ExpandableBottomBar, when I changed to version 1.3.0, it can run normally. I have tried to clear the cache. I don't know if this is an example?

[2021-08-03 22:37] st235 commented on #73
Hello @liuxiaoliu66 👋

First of all, thank you for using this library. I will check this problem ASAP and will post the result here.

Best wishes,
Alex

[2021-08-03 22:40] st235 commented on #73
Looks like maven central has the latest version available: https://search.maven.org/artifact/com.github.st235/expandablebottombar

What repositories do you use in your project? Maybe you forget to add **mavenCentral**, can you check it, please?

[2021-08-04 07:58] liuxiaoliu66 commented on #73
Thank you, this problem has been solved!

[2021-08-05 07:57] #73 closed

[2021-09-15 12:11] ayaz56 opened #74 "Back Stack maintain Without Recreating Fragment"
package ng.com.obkm.bottomnavviewwithfragments;

import android.content.Intent;
import android.os.Bundle;
import android.support.annotation.NonNull;
import android.support.design.widget.BottomNavigationView;
import android.support.v4.app.Fragment;
import android.support.v4.app.FragmentManager;
import android.support.v7.app.AppCompatActivity;
import android.support.v7.widget.Toolbar;
import android

[2021-09-15 19:11] anubhav217 opened #75 "Back Stack maintain Without Recreating Fragment"

[2021-09-18 17:06] st235 commented on #74
Hello @ayaz56 👋

Sorry for a little bit late replay.

Thank you very much for using this library. Have you tried to use [this approach](https://github.com/st235/ExpandableBottomBar/blob/master/app/src/main/java/github/com/st235/expandablebottombar/screens/navigation/NavigationComponentActivity.kt#L22)?

Best wishes,
Alex

[2021-09-21 07:56] st235 commented on #75
Hello 👋

Thank you very much for using this library.
This issue is a duplicate of https://github.com/st235/ExpandableBottomBar/issues/74. Let's continue discussion there.

Best wishes,
Alex

[2021-09-21 07:56] #75 closed

[2021-09-21 07:58] st235 commented on #74
Hi @anubhav217 👋
Are you using [this approach](https://github.com/st235/ExpandableBottomBar/blob/master/app/src/main/java/github/com/st235/expandablebottombar/screens/navigation/NavigationComponentActivity.kt#L22)?

Best wishes,
Alex

[2021-09-21 07:59] #71 closed

[2021-09-21 08:46] ayaz56 commented on #74
Yes

On Tue, 21 Sep, 2021, 1:28 PM Alexander Dadukin, ***@***.***>
wrote:

[2021-09-22 18:52] st235 commented on #74
Thank you for reply,
will take a look at the problem in a few days

[2021-09-23 00:54] ayaz56 commented on #74
Ok, thanks.

On Thu, 23 Sep, 2021, 12:22 AM Alexander Dadukin, ***@***.***>
wrote:

[2021-10-02 13:05] st235 commented on #74
Hello folks 👋
Sorry for the late reply.

After careful consideration, I can say that the `NavigationUI` class from the navigation library behaves the same way. I believe this question is out of the genuine library scope and should be solved within your navigation component.

Best wishes,
Alex

[2021-10-02 13:05] #74 closed

[2022-01-31 16:09] hnfnfl opened #79 "Bottom Bar not showing properly"
I was using this library for like 1 year ago, and yesterday i update my Android Studio as well as other plugin upgrade (gradle, kotlin, sdk, etc).

when i try run my apps after update, the bottom bar only showing white box (i marked bottom bar location with red box)
![image](https://user-images.githubusercontent.com/46749568/151828498-af3bc824-a449-47d0-a2d6-6d09c18fd15f.png)

I've tried from upgr

[2022-02-01 14:45] st235 commented on #79
Hello @hnfnfl 👋

Thank you very much for using the library!

Don't worry that is completely fine!
I am glad that the issue is resolved. Moreover, do not hesitate to open new issues if you will struggle with the library. I will be here to help.

By the way, your application looks really cool. I am wondering how does it look with the expandable bottom bar.

Best wishes,
Alex

[2022-02-05 08:48] hnfnfl commented on #79
Hi, thank you for the compliment. 😄

Here a look after using your library
![image](https://user-images.githubusercontent.com/46749568/152634979-0dbb59fe-cc2d-4d3b-bae8-cc0c37b1c416.png)

Not as good as expected 😅, it just really simple apps for cat owner to monitor their cat's (like vaccine schedule, health record, reproduction, expenses manager, etc)

[2022-02-05 11:48] st235 commented on #79
@hnfnfl hi, wow, thank you for sharing!

The application looks really cool. I am happy to see that even cats' needs are covered with wonderful apps.

Good luck with your endeavours and keep the spirit!

[2022-05-18 10:50] noobshubham opened #81 "ExpandableBottomBarScrollableBehavior isn't working for me."
I've tried the ExpandableBottomBarScrollableBehavior but it didn't working for me even after applying each attributes.

[2022-05-18 16:29] st235 commented on #81
Hello @noobshubham 👋

Thank you very much for using the library and getting in touch.

I would like to assist you on this issue and to proceed further I need to see your code and the actual error. Can you, please, attach it in this channel?

Best,
Alex

[2022-05-19 05:29] noobshubham commented on #81
Also I'm getting error ```java.lang.IllegalArgumentException: No view found for id 0x7f08016a (com.digi.taurant:id/layout) for fragment DishFragment{2eca1ab} (59cead40-fa72-4068-9250-0c9b2f4a2854 id=0x7f08016a)```

By Implementing the **onItemSelectedListener** method
[code]

[2022-05-19 06:05] st235 commented on #81
Can you, please, show all code for this activity?
I can see that your exception says that layout with id `com.digi.taurant:id/layout` is not found and you don't have such layout in your xml file

[2022-05-19 06:18] noobshubham commented on #81
[code]

[2022-05-19 08:00] noobshubham commented on #81
Hey mate idk either which layout is/or can be put there, please help me out.

[2022-05-21 05:28] #81 closed

[2022-05-21 08:09] st235 commented on #81
@noobshubham I am just wondering is your issue resolved?

[2022-05-21 10:27] noobshubham commented on #81
Yeah, Thanks!

[2022-08-26 07:27] shahzad1 opened #88 "Failed to resolve:"
Is this the latest release?
`Failed to resolve: com.github.st235:expandablebottombar:1.4.2`

[2022-08-26 07:34] st235 commented on #88
Hello @shahzad1 👋

Thank you very much for supporting the library.
The latest version is [1.5.1](https://search.maven.org/artifact/com.github.st235/expandablebottombar/1.5.1/aar).

P.S.: you should also use `mavenCentral` repo for your dependencies

Best,
Alex

[2022-08-26 09:50] Kratos1996 opened #89 "how to select menu item via position"
in normal  bottom navigation : selctedItemPostion(0)
so how to do in ExpandableBottomBar

[2022-08-26 10:18] #89 closed

[2022-08-26 10:19] Kratos1996 commented on #89
Found :  binding.bottomNavigationView.menu.select(R.id.home_menu)

[2022-08-26 10:23] #88 closed

[2022-08-26 10:38] shahzad1 opened #90 "Class referenced in the layout file, github.com.st235.lib_expandablebottombar.ExpandableBottomBar, was not found in the project or the libraries"
Am I doing wrong here?
Gradle
`implementation 'com.github.st235:expandablebottombar:1.5.1'`
xml
`    <github.com.st235.lib_expandablebottombar.ExpandableBottomBar
        android:id="@+id/expandable_bottom_bar"
        android:layout_width="0dp"
        android:layout_height="wrap_content"
        android:layout_margin="20dp"
        app:exb_backgroundCornerRadius="25dp"
        app:exb_background

[2022-08-26 19:24] st235 commented on #90
Hello @shahzad1 👋

Thank you for using the library and reaching out!
Actually, the code looks fine.

Remember to add `mavenCentral` to your gradle file

[code]

You can use [this file](https://github.com/st235/ExpandableBottomBar/blob/master/app/src/main/res/layout/activity_xml_declared.xml#L24) as a reference.

Please, do let me know, if the issue resolved for you otherwise I need more input, lik

[2022-08-27 02:23] shahzad1 commented on #90
`  mavenCentral()`
 Already added

[2022-08-27 08:22] st235 commented on #90
Can you, please, share a link to the project for me to check? If you can't share the exact project here at Github can you, please, prepare a demo project to reproduce the issue?

[2022-08-29 08:59] shahzad1 commented on #90
Its just a Webview App.

[2022-09-10 12:36] st235 commented on #90
@shahzad1,

As I can't reproduce the issue and have not heard from you I decided to close the issue. Hopefully, the issue is resolved for you.
However, If you need any further help or assistance - just create a new issue and explain the problem there.

Thank you for using the library and happy coding!

[2022-09-10 12:36] #90 closed